body {
  overflow: hidden;
}

#root,
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

body * {
  box-sizing: border-box;
}

/* resets */
select {
  cursor: pointer;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

p {
  line-height: inherit;
  margin: 0;
  padding: 0 0 1.5rem 0;
}

a:focus,
button:focus,
div:focus {
  outline: var(--main-highlight-color) solid 1px;
  box-shadow: 0 0px 8px var(--main-highlight-color);
}
